
@media screen and (max-width:920px) {

   
    
}
@media screen and (max-width:768px) {
    body h1, h2{
        font-size: 28px;
        line-height: 33px;
    }
    body .primary-heading{
        font-size: 28px;
        line-height: 33px;
    }
    body h3, .h3{
        font-size: 20px;
        line-height: 23px;
    }
.col-top-heading{
font-size: 20px;
list-style: 24px;
}
.overlay-card-btn{
    font-size: 20px;
line-height: 23px;;
}
body .secondary-heading{
    font-size: 24px;
    line-height: 28px;
}
    
}
@media screen and (max-width:767px) {

ul:not([class]) > li:not([class]){
    display: block;
}
}
@media screen and (max-width:520px) {

body button:not([class]), .btn, .blue-btn, .btn-red{
    font-size: 15px;
}
.selection-card-btn{
padding: 9px 19px;

}
body p{
    font-size: 14px;
line-height: 16px;
}
.btn-mes, .btn-gender{
    width: 24px;
    height: 24px;

}
.card-icons{
    right: 0;
}
.btn-mes .icons-wrapper{
    width:10.43px;
    height:8.35px;
    display: flex;
}
.btn-gender .icons-gender-wrapper{
    height: 9px;
    width: 9px;
    display: flex;
}
h3{
    font-size: 20px;
    list-style: 24px;
}
body .normal-heading{
    font-size: 18px;
line-height: 21px;
}
}