/* ---------------------------- Fonts --------------------------- */

@import url("https://p.typekit.net/p.css?s=1&k=zgz5bfe&ht=tk&f=42581.42582.42583.42584.42587.42588&a=87785257&app=typekit&e=css");

@font-face {
    font-family:"fieldwork";
    src:url("https://use.typekit.net/af/58cfb4/00000000000000007735ce98/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/58cfb4/00000000000000007735ce98/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/58cfb4/00000000000000007735ce98/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:300;
    font-stretch:normal;
}

@font-face {
    font-family:"fieldwork";
    src:url("https://use.typekit.net/af/5c6dd8/00000000000000007735ce9c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/5c6dd8/00000000000000007735ce9c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/5c6dd8/00000000000000007735ce9c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
    font-display:auto;
    font-style:italic;
    font-weight:300;
    font-stretch:normal;
}

@font-face {
    font-family:"fieldwork";
    src:url("https://use.typekit.net/af/eff0f3/00000000000000007735ce9f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/eff0f3/00000000000000007735ce9f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/eff0f3/00000000000000007735ce9f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
}

@font-face {
    font-family:"fieldwork";
    src:url("https://use.typekit.net/af/4261ca/00000000000000007735cea3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/4261ca/00000000000000007735cea3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/4261ca/00000000000000007735cea3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display:auto;
    font-style:italic;
    font-weight:400;
    font-stretch:normal;
}

@font-face {
    font-family:"fieldwork";
    src:url("https://use.typekit.net/af/10c0a4/00000000000000007735ceac/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/10c0a4/00000000000000007735ceac/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/10c0a4/00000000000000007735ceac/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:700;
    font-stretch:normal;
}

@font-face {
    font-family:"fieldwork";
    src:url("https://use.typekit.net/af/2d9e72/00000000000000007735ceaf/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2d9e72/00000000000000007735ceaf/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2d9e72/00000000000000007735ceaf/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;
    font-style:italic;
    font-weight:700;
    font-stretch:normal;
}

/* .tk-fieldwork { font-family: "fieldwork",sans-serif; } */

@font-face {
	font-family: 'Termina';
	src: url('../fonts/Termina-Black.woff2') format('woff2'),
	url('../fonts/Termina-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Fieldwork';
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



/* ---------------------------- General --------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body a, 
body p a {
    font-family: 'Fieldwork' , Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #C5A35A;
    text-decoration: underline;
}

a:hover, 
body p a:hover {
    text-decoration: none;
}

a:focus{
    outline: 1px solid;
}

/* ---------------------------- Typography --------------------------- */

body {
    background-color: #fff;
}

body,
body p {
    font-family: 'Fieldwork' , Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}

body h1,
body .h1{
    font-family: 'Termina', sans-serif;
    font-weight: 900;
    font-size: 80px;
    line-height: 84px;
    color: #000000;
}

body h2,
body .h2{
    font-family: 'Termina', sans-serif;
    font-weight: 900;
    font-size: 70px;
    line-height: 84px;
    color: #000000;
}

body h3,
body .h3{
    font-family: 'Fieldwork' , Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 56px;
    color: #000000;
}

body h4,
body .h4{
    font-family: 'Fieldwork' , Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

body h5,
body .h5{
    font-family: 'Fieldwork' , Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

body h6,
body .h6{
    font-family: 'Fieldwork' , Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

/* .gold-text, */
.gold-text h1,
.gold-text h2,
.gold-text h3,
.gold-text h4,
.gold-text h5,
.gold-text h6{
    background: #B99549 linear-gradient(90deg, #B18D3E 0%, #B99549 40.11%, #C5A35A 100.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* .display-1 {
    font-family: 'NOIR et BLANC', "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    color: rgba(169, 98, 66, 1);
} */

/* ---------------------------- UL/LI --------------------------- */

ul{
	font-size: inherit;
	list-style: none;
}

ol {
	list-style: decimal outside;
	font-size: inherit;
	padding-left: 20px;
}

body ul:not([class]) li,
body ul:not([class]) li ol li ul:not([class]) li {
	font-size: inherit;
    line-height: 1.43;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin-bottom: 5px;
    padding-left: 18px;
    position: relative;	
}

ol li,
ul:not([class]) li ol li {
	font-size: inherit;
    line-height: 1.43;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    margin-bottom: 5px;
    padding-left: 0px;
    position: relative;
}

ol ol,
ul:not([class]) ul:not([class]),
ol ul:not([class]),
ul:not([class]) ol {
	margin-bottom: 0;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul:not([class]){
	margin-left: 0;
	padding-left: 0;
}

ul:not([class]) li:before,
ul:not([class]) li ol li ul:not([class]) li:after {
    content: "";
    position: absolute;
    top: 10px;
    background: #C5A35A;
    height: 2px;
    width: 6px;
    border-radius: 0;
    left: 5px;
}

ol li::marker, 
ul:not([class]) li ol li::marker{
    font-weight: 500;
    color: #B18D3E;
}

ul:not([class]) ol li::before {
	display: none !important;
}

body ul:not([class]) li a, 
body ul:not([class]) li ol li ul:not([class]) li a, 
ol li a,
ul:not([class]) li ol li a{
    font-weight: 700;
}




/* ---------------------------- Container --------------------------- */

.wpb-container{
    max-width: 1230px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    display: block;
}

/* ---------------------------- Buttons --------------------------- */

.btn,
input[type="button"],
button,
button[type="submit"],
input[type="submit"] {
    background: #C5A35A linear-gradient(90deg, rgba(197,164,90,0.53) 0%, rgba(205,173,94,0.51) 28.01%, rgba(227,201,107,0.53) 77.09%, rgba(239,216,114,0.57) 100.02%);
    text-decoration: none;
    position: relative;
    border: 0;
    font-family: 'Fieldwork' , Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #242A34;
    padding: 16px 24px 11px 24px;
    transition: 0.3s all;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
}
.btn::after,
button::after{
    background: url(../img/icon-arrow-right-black.svg) center no-repeat;
    height: 13px;
    width: 21px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    transition: 0.3s all;
    right: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.btn:hover,
button:hover,
button[type="submit"]:hover{
    padding: 16px 24px 11px 24px;
    border: 0;
    background-color: #C5A35A;
    padding-right: 57px;
}

.btn:hover::after,
button:hover::after,
button[type="submit"]:hover::after {
    right: 24px;
    opacity: 1;
    visibility: visible;
}

.white-btn .btn,
.white-btn button,
.white-btn button[type="submit"], 
.btn.white-btn ,
button.white-btn{
    background: #FFFFFF;
    box-shadow: 0 0 1px 2px rgb(102 102 102 / 15%) inset;
    color: #916B16;
}

.white-btn .btn:hover,
.white-btn button:hover,
.white-btn button[type="submit"]:hover, 
.btn.white-btn:hover,
button.white-btn:hover{
    background: #C5A35A linear-gradient(90deg, rgba(197,164,90,0.53) 0%, rgba(205,173,94,0.51) 28.01%, rgba(227,201,107,0.53) 77.09%, rgba(239,216,114,0.57) 100.02%);
    color: #242A34;
    box-shadow: 0 0 1px 2px rgb(102 102 102 / 0%) inset;
}



/* ----------------------------BG Colors---------------------------- */

.dark-bg{
    background-color: #232933!important;
    color: rgba(255, 255, 255, 0.9);
}

 
.dark-bg p{
    color: rgba(255, 255, 255, 0.9);
}

/* ---------------------------- Form ---------------------------- */

.form-field.error .error-message{
    display: block;
}

.form-field > label{
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #282828;
    display: block;
    margin: 0 0 7px;
}
.dark-bg .form-field > label{
    color: #fff;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"])::placeholder,textarea::placeholder{
    color: #282828 !important;
    opacity: 0.4 !important; 
}
textarea,
input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"]){
    border: 1px solid #C5A35A;
    height: 50px;
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #282828;
    padding: 12px;
    display: block;
	width: 100%;
    transition: all .3s ease-in-out;
}
textarea{
    min-height: 200px;
}
input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"]):focus, 
textarea:focus{
    outline: none;
    border-color: #919191;
}

.form-field.error input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="button"]),
.form-field.error textarea{
    border-color: #e80000;
}

.error-message{
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #920202;
    display: none;
}
/* -----------Skip to Main---------- */
a.skip-main {
    clip: rect(1px,1px,1px,1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a.skip-main:focus, a.skip-main:active {
	background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 60%);
    clip: auto!important;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

@media screen and (max-width: 1024px){
    body h1,
    body .h1{
        font-size: 55px;
        line-height: 62px;
    }

    body h2,
    body .h2{
        font-size: 48px;
        line-height: 55px;
    }

    body h3,
    body .h3{
        font-size: 34px;
        line-height: 38px;
    }
}

@media screen and (max-width: 767px){
    body h1,
    body .h1{
        font-size: 32px;
        line-height: 38px;
    }

    body h2,
    body .h2{
        font-size: 32px;
        line-height: 38px;
    }

    body h3,
    body .h3{
        font-size: 24px;
        line-height: 34px;
    }
}
