
@media screen and (max-width:1300px) {
    .notre-slider-wrapper .swiper-button-next{
        right: -15px;
    }
    .notre-slider-wrapper .swiper-button-prev{
        left: -15px;
    }
    .notre-slider-wrapper{
        padding: 0 15px;
    }
    
}
@media screen and (max-width:1024px) {
.notification_wrapper .container p{
text-align: left;
}
.notiification-close-btn{
    right: 2%;
}
.SelectNeuf-card-wrapper .swiper-slide{
    margin: 0;
}
.SelectNeuf-card-wrapper .SelectNeufSlder .swiper-wrapper{
    margin: 0;
}
.SelectNeuf-card-wrapper .swiper-button-next, .SelectNeuf-card-wrapper .swiper-button-prev{
display: block;
}
.SelectNeuf-card-wrapper .swiper-button-next:hover, .SelectNeuf-card-wrapper .swiper-button-prev:hover{
    opacity: 0.7;
}

}