@import url('./main-base.css');
@import url('./base-responsive.css');


/*__------------------------------------------------------------------_*/
/*_________________________ Custom Styling ______________________*/



/* ---------  Notification Section ------------*/
.notification_wrapper{
    background-color: #112b36;
    padding: 22px 0;
    position: relative;
   
}
.notification_wrapper .container{
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.notification_wrapper .container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 0px 50px 0 50px;
}

.notiification-close-btn{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}
.notiification-close-btn .close-btn{
    width: 14px;
    height: 14px;
    background-image: url('../images/notification-close-bg.svg');
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    cursor: pointer;
}

/* ---------  selection Section ------------*/
.selection-wrapper{
    padding: 7px 0;
}
.selection-wrapper .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.selection-wrapper .container .select_wrapper:not(:last-child){
    margin-right: 52px;
}

.selection-wrapper .container .select_wrapper p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #96AAB8;

}
.selection-wrapper .container .select_wrapper{
    position: relative;

}
.selection-wrapper .container .select_wrapper1::before{
    content: '';
    width:15px;
    height:14px;
    background-image: url('../images/start.svg');
    position: absolute;
    left: -22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.selection-wrapper .container .select_wrapper2::before{
    content: '';
    width:12px;
    height:16px;
    background-image: url('../images/lock.svg');
    position: absolute;
    left: -20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------  Header Section ------------*/
.header{
    padding: 16px 0;
    background-color: #fff;
    z-index: 100;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.header .container .logo-wrapper{
    width:163px;
    height:57px;
    display: flex;
    align-items: center;
    margin-top:2px;
}
.header .container .logo-wrapper img{
    object-fit: contain;
    width: 100%;
}
.header .container .menu ul >li >a{
  color: #112B36;  
}
header .container .menu ul #dropdown{
        position: relative;
    }
    header .container .menu ul #dropdown .dropdown_content{
        width: 257px;
        position: absolute;
        top:56px;
        background: #B60529;
        border-radius: 0px 0px 3px 3px;
        padding: 24px 20px;
        z-index: 2;
        display: none;


}
header .container .menu ul #dropdown:hover .dropdown_content{
    display: block;
}
header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.357);
}
.mobile-menu-icons{
    display: none;
}

/* --------------------- Hero section Section----------------------*/
.hero-wrapper{
    height: 790px;
    background:linear-gradient(295deg,
    #112B36 50.5%,
      rgba(0, 0, 0, 0) 50%
    ),
    url("../images/hero-banner.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    padding: 80px 0;
    display: flex;
}
.hero-wrapper .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 80px 15px; */
    width: 100%;
    margin-top: 120px;
}
.hero-wrapper .container h1{
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 6px;
}

.hero-wrapper .container h1 .immo{
    color: #112B36;
}
.hero-wrapper .container h3{
    color: #fff;
    margin-bottom: 62px;
}
.lable-right{
    position: relative;
}
.lable-right .card-hidden{
    background: #112B36;
    padding: 9px 10px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 133px;
    top: -23px;
    left: -44px;
    transition: 0.3s all;
    opacity: 0;
}
.lable-right .card-hidden::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    margin-left: 3px;
    border-width: 7px;
    border-style: solid;
    border-color: #112b36 transparent transparent transparent;
}

.lable-right:hover .card-hidden{
    opacity: 1;

}

.form-wrapper{
    margin-bottom: 163px;
    padding: 0 15px;
}
.hero-bottom-content{
    color: #D2DFE8;
    margin-left: auto;
    position: relative;
    left: 17px;
    top: 2px;
}
.hero-bottom-content span{
    font-family: 'DIN Pro cond';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;

}
.hero-arrow-section{
    display: flex;
    justify-content: space-between;
}
.hero-arrow-section span:first-child{
    margin-left: 34px;
}
.hero-arrow-section span{
    position: relative;
}
.hero-arrow-section span::after{
    content: '';
    width: 18px;
    height: 11px;
    background-image: url('../images/hero-arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    transform: translateX(-50%);
    left: 55%;
    bottom: -59%;
}


/* --------------------- Notre Section----------------------*/

.notre-wrapper{
    padding: 88px 0;
    text-align: center;
}
.notre-wrapper .container h2{
    max-width: 532px;
    margin: 0 auto;
}

.notre-slider-wrapper{
    margin-top: 64px;
    position: relative;
}
.notre-slider-wrapper .swiper-pagination{
    display: none;
}

/*--------  notre Slider -----------------*/

.notre-slider-link{
    width: 100%;
}
  .notre-wrapper .notre-slider-wrapper .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    transition: 0.3s all ease-in-out;
    flex-direction: column;
    cursor: pointer;
    /* padding-bottom: 16px; */
  }

 
  .NSIMG-main-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: 0.9s all ease-in-out;

  }
  .NSIMG-main-wrapper .img-wrapper{
    width: 100%;
    height: 230px;

  }
  .NSIMG-main-wrapper .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;

  }
  .notre-wrapper .notre-slider-wrapper .swiper .swiper-slide:hover .NSIMG-main-wrapper .img-wrapper img{
    transform: scale(1.08);
 }

  .NSIMG-main-wrapper  .NS-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  

  }
  
  .NSIMG-main-wrapper  .NS-overlay h3{
    background-color: #112B36;
    padding: 5px 9px;
    color: #fff;
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }
  .notre-wrapper .notre-slider-wrapper .swiper .swiper-slide:hover  .NS-overlay h3{
    opacity: 1;

  }
  .Nsstar-icon-wrapper{
    position: absolute;
    right: 0;
    bottom: 0;
  }


  .NS-star{
    width: 42px;
    height: 42px;
    background-color: #112B36;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: relative;
    transition: 0.3s all;

  }

  .NS-star::after{
    content: '';
    width: 17px;
    height: 14px;
    background-image: url('../images/SN-star.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
  }


  .Nsstar-icon-wrapper  .ajouter-text{
    color: #fff;
    padding: 6px 10px;
    background-color:#112B36;
    position: absolute;
    /* left: 0%;
    top: 10px; */
    opacity: 1;
    transition: 0.3s all ease-in-out;
    transform: translate(72%);
    top: -50px;
    left: -210px;
    opacity: 0;

}
.Nsstar-icon-wrapper  .ajouter-text .text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #112b36 transparent transparent transparent;
}
.Nsstar-icon-wrapper:hover .ajouter-text{
    opacity: 1
}



/*--------------------- Notre Slider Content Area ------------------------*/

.content-part .content-wrapper{
    max-width: 255px;
    margin: 0 auto;
    /* padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; */

}
.content-part .content-wrapper a{
    text-decoration: none;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #112B36;
}
.content-part .content-wrapper p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:#96AAB8;
}
.content-part .content-wrapper p span{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #112B36;

}
.content-part {
    width: 100%;
    border-bottom: 2px solid #41383900;
    padding-bottom: 16px;
    padding-bottom: 14px;
    margin-top: -26px;
}
.notre-wrapper .notre-slider-wrapper .swiper .swiper-slide:hover 
.content-part {
    border-bottom: 2px solid #A30023;
}
.swiper-button-next::after, .swiper-button-prev::after{
    display: none;
}


.notre-slider-wrapper .swiper-button-next, .notre-slider-wrapper .swiper-button-prev {
    position: absolute;
    transform: translateY(-50%);
    top: 42%;

}
.notre-slider-wrapper .swiper-button-next:hover, .notre-slider-wrapper .swiper-button-prev:hover {
    opacity: 0.7;
}

.notre-slider-wrapper .swiper-button-next{
    right: -30px;

}
.notre-slider-wrapper .swiper-button-prev{
    left: -30px;
}
.notre-slider-wrapper .swiper-slide-active .NS-star{
    background-color:#A30023;
}

.SN-btn{
    margin-top: 60px;
}

/*--------- SELECTNEUF Section ----------*/
.select-neuf-wrapper{
    text-align: center;
    padding: 77px 0;
    
}
.select-neuf-wrapper .container h3{
    margin: 0 auto;
    max-width: 468px;
}
.SelectNeuf-card-wrapper{
    margin-top: 62px;
}
.SelectNeuf-card-wrapper .SelectNeufSlder .swiper-wrapper{
    width: calc(100% + 32px);
    margin: 0 -16px;
}
 .SelectNeuf-card-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 32px);
    margin: 0 16px;
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
  }
/* 
 .SelectNeuf-card-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  .SelectNeuf-card-wrapper .swiper-slide .content{
      margin-top: 50px;

  }
  .SelectNeuf-card-wrapper .swiper-slide .content h3{
      margin-bottom: 20px
  }
  .SelectNeuf-card-wrapper .swiper-slide .content p{
    margin-bottom: 30px;
  }

  .icon-wrapper{
      width: 77px;
      height: 70px;
  }
  .icon-wrapper img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

  }
  .SelectNeuf-card-wrapper {
      position: relative;
  }
  .SelectNeuf-card-wrapper .swiper-button-next, .SelectNeuf-card-wrapper .swiper-button-prev{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    display: none;
  }

  /*----------------------------- vous Section  --------------------------*/
  .vous-wrapper{
      padding: 69px 0;
  }
  .vous-wrapper .container{
      display: flex;
      justify-content: space-between;
  }
  .vous-wrapper .container .col-left {
      padding-right: 40px;
      width: 50%;
  }
  .vous-wrapper .container .col-left .col-top-heading{
  padding: 2px 10px;
  margin-bottom: 10px;
}
  .vous-wrapper .container .col-left .main-heading{
      margin-bottom: 20px;
      /* max-width: 540px; */
  }
  .vous-wrapper .container .col-left .basic-text{
    color: #96AAB8;
}
.vous-wrapper .container .col-left .basic-text:not(:last-child){
    margin-bottom: 10px;
}
.vous-wrapper .container .col-left p{
    margin-top: 31px;
}
.vous-wrapper .container .col-left a{
    margin-top: 26px;
    padding: 12px 24px;
}

.vous-wrapper .container .col-right {
    position: relative;
} 

.image-wrapper{
    max-height: 460px;
    width: 100%;
    overflow: hidden;
    
}

.col .image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}

.col:hover .image-wrapper img{
    transform: scale(1.10)
}
 .overlay-content{
    position: absolute;
    max-height: 100%;
    width: 100%;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 47px 20px;
    text-align: center;
}
 .overlay-content h2{
    max-width: 307px;
    color: #fff;
    margin-left: 8px;

}
 .overlay-content .card-btn{
    margin-top: 47px;
    margin-left: 2px;
}


/*--------------------------- clip Section ---------------------*/

.clip-wrapper{
    /* position: relative; */
    min-height: 550px;
    width: 100%;
   background: linear-gradient(297deg,
   rgba(255, 255, 255, 1) 50%,
     rgba(0, 0, 0, 0) 50%
   ),
   url("../images/clip-img.svg") center no-repeat;
    background-size: cover;
}
.clip-wrapper .container{
    display: flex;
    padding: 80px 15px;
}
.clip-wrapper .container .col-left{
    width: 60%;
    margin-left: -29px;
}

.clip-wrapper .container .col-left .section-heading{
    max-width: 371px;
    margin-top: 7px;
}
.clip-wrapper .container .col-left .multi-line{
    margin-top: 22px;
}
.clip-wrapper .container .col-left .multi-line h3:not(:first-child){
    margin-top: 10px;
}

.clip-wrapper .container .col-left .multi-line h3{
color: #FFFFFF;
}
.clip-wrapper .container .col-left .multi-line:not(:last-child){
    margin-bottom: 9px;
}
/*-------------------- clip-wrapper Right col---------*/
.clip-wrapper .container .col-right{
    display: flex;
    width: 40%;
    margin-left: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    position: relative;
    top: 26px;
    /* border: 1px solid #A30023; */
}
.clip-wrapper .container .col-right .content-wrapper:not(:last-child){
    margin-bottom: 42px;
}

.clip-wrapper .container .col-right .content-wrapper{
    display: flex;
    align-items: flex-start;
    position: relative;
}
.clip-wrapper .container .col-right .content-wrapper::after{
 content: '';
 width: 11px;
 height: 18px;
 background-image: url('../images/section_arrow.svg');
 background-repeat: no-repeat;
 background-size: contain;
 position: absolute;
 top: 47%;
 transform: translate(-50%, -50%);
 right: -22px;
}

.clip-wrapper .container .col-right .content-wrapper .img-wrapper{
    width: 70px;
    height: 70px;
    margin-right: 34px;
}
.clip-wrapper .container .col-right .content-wrapper .img-wrapper img{
    /* width: 100%; */
    height: 100%;
    /* object-fit: contain; */
}

.clip-wrapper .container .col-right .content-wrapper .text h3{
    max-width: 283px;
    margin-bottom: 12px;
}
.clip-wrapper .container .col-right .content-wrapper .text p{
 max-width: 340px;
 color: #96AAB8;
}


/*-------- Sidebar Section 1 ---------*/
.sidebar-section1 {
    margin-top: 80px;
}
.sidebar-section1 .container{
    display: flex;

}
.sidebar-section1 .container .article{
    width: calc(100% - 392px);
    padding-right:35px;
    /* background-color: #A30023; */
}
.sidebar-section1 .container .side{
    min-width: 392px;
}
.sidebar-section1 .side .side-gender-card{
    padding: 21px 18px;
}


.sidebar-section1 .container .article .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    overflow: hidden;
  }
  /* ------ Side 1--------*/
  .sidebar-section1 .container .side .detail{
    background-color: #FAFAFA;
    padding: 27px 46px;
}

.sidebar-section1 .container .side .detail .detail-list{
    display: flex;
}
.sidebar-section1 .container .side .detail .detail-list:not(:last-child){
    margin-bottom: 31px;
}
.sidebar-section1 .container .side .detail .detail-list .detail-icon-wrapper{
    width: 20px;
    height: 20px;
    margin-right: 15px;

}
.sidebar-section1 .container .side .detail .detail-list .detail-icon-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sidebar-section1 .container .side .detail .detail-list p span{
    font-weight: bold;
}

.sidebar-btns{
    margin: 30px 0;
    width: 100%;
}
.sidebar-btns a{
    width: 100%;
    text-align: center;
}
.sidebar-btns a:not(:last-child){
    margin-bottom: 20px;
}


/* ------- side2 section ---------*/
.side2-section-wrapper {
    margin-top: 70px;
}
.side2-section-wrapper .container{
    display:flex;
}
.side2-section-wrapper .container .article{
    width: calc(100% - 390px);
    padding-right:68px ;
}
.side2-section-wrapper .container .article p:not(:last-child){
    margin-bottom: 15px;
}
.side2-section-wrapper .container .article .secondary-heading{
    margin-bottom: 28px;
}
.button-wrapper{
    padding: 30px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    border: 1px solid #EBEBEB;
}
.button-wrapper .btn-red{
        padding: 12px 20px;
}


/*------ Sidebar 2-------*/
.side2-section-wrapper .container .sidebar{
    width: 390px;
}
.side2-section-wrapper .container .sidebar .secondary-heading{
    max-width: 307px;
    margin-bottom: 23px;
}
.side2-section-wrapper .container .sidebar h3{
    color: #96AAB8;
    max-width: 380px;
    margin-bottom: 38px;
}

.side-pret{
    width: 100%;
    position: relative;
}


/*------- third side bar --------*/
.sidebar3-section-wrapper .container{
    display: flex;
}
.sidebar3-section-wrapper .container .article{
    width: calc(100% - 390px);
    margin-top: -200px;
}
.sidebar3-section-wrapper .container .article  .accordin-wrapper{
    padding-right: 68px;
}

.accordion {
    padding-top: 47px;
  }
  .accordion__header {
    padding: 17px 50px 19px 28.5px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
    position: relative;
  }

  
  .accordion__header h2 {
    font-family: 'DIN Pro cond';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#112b36;
  }

  .accordion__header h2::after{
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('../images/accordine-close-arrow.svg');
        background-repeat: no-repeat;
        position: absolute;
        right: 19px;
        top: 39%;
        transition: 0.3s all;
        display: flex;
        justify-content: center;
        align-items: center;
  }
  .accordion__header:not(:first-child) {
    margin-top: 4px;
  }
  .accordion__header:hover {
    background-color: #d9d9d9;

  }
  .arrow-icon {
    position: absolute;
    top: 50%;
    right: 1.7%;
    transform: translateY(-50%);
    transition: 0.3s all;
  
  }
  .accordion__header.is-active {
    background-color: #112B36;
  }
  .accordion__header.is-active h2{
      color: white;
  }
  .accordion__header.is-active.accordion__header h2::after{ 
        width: 20px;
        height: 20px;
        background-image: url('../images/accordine-open-arrow.svg');
        transition: 0.3s all;
  }
  .accordion__body {
    display: none;
    /* padding: 18px 0px 27px 0px; */
    border-top: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.8;
  }
  .accordion__body p{
      color: #112b36;
  }
  .accordion__body.is-active {
    display: block;
  }
/* SIDE BAR*/
.sidebar3-section-wrapper .container .side{
    width: 390px;
}


/*------- situation-wrapper ----------*/
.situation-wrapper{
    width: 100%;
    margin-top: 42px;
}
.situation-wrapper h2{
    margin-bottom: 26px;
}
.situation-wrapper .normal-heading{
    margin-bottom: 25px;
}

.situation-content{
    display: flex;
    width: calc(100% + 30px);
    margin: 0px -15px;
    flex-wrap: wrap;
}

.situation-content .situation-inner-list{
    display: flex;
    justify-content: space-between;
    width: calc(50% - 30px);
    margin: 0 15px;
    padding: 16px 0;
    border-bottom: 1px solid #EBEBEB;
    
}


/*-------------- map-wrapper ---------*/
.map-wrapper{
    margin-top: 40px;

}
.map-wrapper .map-buttons{
    max-width: 540px;
    width: 100%;
}
.map-wrapper .map-buttons img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map-wrapper .map-img-wrapper{
    width: 100%;
    margin-top: -3px;
    max-height: 280px;
    height: 100%;
}
.map-wrapper .map-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-------------- bottom-form-section -------*/
.bottom-form-wraper{
    margin: 40px 0;
    padding: 40px 0;
}
.bottom-form-wraper .container{

}
.bottom-form-wraper .container .form-section-heading{
    display: flex;
    justify-content: space-between;
}
.bottom-form-wraper .container .form-section-heading .image-wrapper{
    width: 22px;
    height: 22px;
}
.bottom-form-wraper .container .form-section-heading .image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bottom-form-conatiner{
    width: calc(100% + 30px);
    margin: 18px -15px 0; 
}
.form-bottom-field-group{
    width: calc(33.33% - 30px);
    margin: 0 15px;
    background-color: #FAFAFA;
    border: 1px solid #EBEBEB;

}
.bottom-form-wraper .field-group .form-bottom-input{
    background-color: #FAFAFA;
} 
.bottom-form-wraper .field-group .label{
    background: #FAFAFA;
}

/* -------  Bottom info card----------*/
.bottom-info-cards{
    margin-top: 41px;
}

.all-cards-wrapper {
    margin-top: 41px;
    position: relative;
}
.all-cards-wrapper .swiper-button-next, .all-cards-wrapper .swiper-button-prev{
    position: absolute;
    top: 0;

}
.all-cards-wrapper .side-gender-card{
    border-top: 1px solid #DEDEDE;
    box-shadow: none;
}
.all-cards-wrapper .side-gender-card:hover{
    box-shadow: -1px 3px 10px 1px rgb(0 0 0 / 7%) !important;
}

.all-cards-wrapper .genderslider .swiper-wrapper .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .all-cards-wrapper .swiper-button-next, .all-cards-wrapper .swiper-button-prev{
display: none;
  }

  .all-cards-wrapper .swiper-pagination{
    position: absolute;
    bottom: -35px;
  }
  .all-cards-wrapper .swiper-pagination .swiper-pagination-bullet{
    background-color: #C7C7C7;
    width: 8px;
    height: 8px;
    border-radius: 14px;
    transition: 0.5s all ease;
  }
  
  .all-cards-wrapper .swiper-pagination .swiper-pagination-bullet-active{
    width: 41px;
    height: 8px;
    background-color: #A30023;
    cursor: auto;

  }
/* <!--- important section ----> */
.importantSection-wrapper{
    margin: 80px 0;
}
.importantSection-wrapper .imp-btn-wrapper{
    max-width: 500px;
    margin: 0 auto;
}
.importantSection-wrapper .container h2{
    text-align: center;
    max-width: 396px;
    margin: 0 auto;
}
.importantSlider {
    margin-top: 50px;
}
.important-slider-wrapper .importantSlider{
    height: 460px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 47px;
}
.important-slider-wrapper .importantSlider .swiper-wrapper{
    height: 1px;
    width: 100%;
    background-color: #d2dfe8;
    position: relative;

}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide{
    max-width: 250px;
    position: absolute;
    bottom: 0;
    /* border: 1px solid #A30023; */
    /* margin-right: 20px; */
    /* height: 300px; */
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-child(2){
    left: 20%;
    top: 0;
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-child(3){
    left: 40%;
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-child(4){
    left: 60%;
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-child(5){
    left: 79%;
}

.important-slider-wrapper .swiper-button-next, .important-slider-wrapper .swiper-button-prev{
    display: none;
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-of-type(odd) .imp-content{
    top: -230px;
}

.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-of-type(even) .imp-content{
    top: 18px;
    flex-direction: column-reverse;
}


.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-of-type(odd) .imp-content .important-main-heading{
    position: absolute;
    bottom: -60%;
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-of-type(even) .imp-content .important-main-heading{
    position: absolute;
    top: -60%;

}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-of-type(even) .imp-content .secondayHead-details{
    flex-direction: column-reverse;
    position: relative;
    top: 0px;
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-of-type(even) .imp-content .secondayHead-details .content{
    margin-top: 20px;
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-of-type(odd) .imp-content .secondayHead-details::after{
    content: '';
    width: 14px;
    height: 14px;
    background:#112B36;
    position: absolute;
    bottom:-10px;
    border-radius: 50%;
}
.important-slider-wrapper .importantSlider .swiper-wrapper .swiper-slide:nth-of-type(even) .imp-content .secondayHead-details::after{
    content: '';
    width: 14px;
    height: 14px;
    background: #96AAB8;
    position: absolute;
    top: -11%;
    border-radius: 50%;
    transform: translateY(-50%);
}


/* <!---------- REJOIGNEZ Section -------------> */
.rej-section-wrapper {
    padding: 80px 0;
}
.rej-section-wrapper .container .hand-section{
    display: flex;
}
.rej-section-wrapper .container .hand-section .rej-col{
    width: 50%;
}

.rej-section-wrapper .container .hand-section .hand-img-wrapper{
    width: 282px;
    height:196px;
    margin: 0 auto;
}
.rej-section-wrapper .container .hand-section .hand-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rej-section-wrapper .container .hand-section .col-right h2{
    max-width: 341px;
    margin-bottom: 24px;
}
.rej-section-wrapper .container .hand-section .col-right p{
    max-width: 576px;
    margin-bottom: 21px;
}
.rej-section-wrapper .container .hand-section .col-right h3{
    color: #A30023;
    max-width: 300px;
}

/* <!------- Bottom Slider  Accordine section ----> */
.botton-slider-accordin-wrapper{
    display: flex;
    width: calc(100% + 42px);
    margin: 30px -42px 0;
}
.botton-slider-accordin-wrapper .bottom-col{
    width: calc(50% - 42px);
    margin: 0 21px;
}
.botton-slider-accordin-wrapper .col-slider{
    padding: 0 2px;
}
.botton-slider-accordin-wrapper .bottom-col .bottomSlider .swiper-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 99%;
    margin: 0 auto;
}

.botton-slider-accordin-wrapper .col-slider .swiper-slide {
    font-size: 18px;
    display: flex;
    width: 100%;
    height: 140px;
    border-top: 1px solid #DEDEDE;
    padding: 22px 20px 25px 0;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;

  }
  .botton-slider-accordin-wrapper .col-slider .swiper-slide:last-child{
    margin-bottom: 8px;
  }
.botton-slider-accordin-wrapper .col-slider .swiper-slide:not(:first-child) {
margin-top: 20px;
}
  
  .col-slider .swiper-slide .slide-date{
    background-color: #112B36;
    width: 61px;
    text-align: center;
    color: #fff;
    min-height: 33px;
}
  .col-slider .swiper-slide .slid-content{
    width: calc(100% - 61px);
    margin-left: 25px;
  }
  .col-slider .swiper-slide .slid-content h3 span{
    color: #96AAB8;
  }
  .col-slider .swiper-slide .slid-content .post-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.post-btn{
    display:flex;
    padding: 7px 20px;
    border-radius:5px;
}
.post-btn-img{
    width: 14px;
    height: 14px;
    margin-left: 8px;
}
.post-btn-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bottom-col  .swiper-button-next, .bottom-col  .swiper-button-prev{
    display: none;

}
.botton-slider-accordin-wrapper .col-slider .swiper-slide:hover{
    box-shadow: -1px 3px 10px 1px rgb(0 0 0 / 7%);
}
.desktop-section .disclousers-wrapper {
    border-bottom: 1px solid #C9D5DF;
}

.desktop-section .disclousers-wrapper h2{
    font-family: 'DIN Pro Cond';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #112B36;
    position: relative;
    margin-bottom: 53px;
}
.desktop-section .disclousers-wrapper h2 span{
    font-weight: normal;
}
.desktop-section .disclousers-wrapper h2::after{
    content: '';
    width: 48px;
    height: 4px;
    background-color: #112B36;
    position: absolute;
    bottom: -15px;
    left: 31%;
    transform: translate(-50%);
}
.desktop-section .disclousers-wrapper h3{
    color: #112B36;
    margin-bottom: 28px;
}
.Accreditation-wrapper{
    margin-top: 34px;
}
.Accreditation-wrapper p{
    max-width: 460px;
    margin-top: 21px;
}

.accredition-link{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-decoration-line: underline;
color: #112B36;
margin-top: 23px;


}
.accredition-link .arrow-btn{
    width: 24px;
    height: 24px;
    border-radius:50%;
    background-color: #A30023;
    border: none;
    outline: none;
    position: relative;
    top: 4px;
    left: 15px;
    cursor:  pointer;
}
.accredition-link .arrow-btn .img-wrapper{
    width:10px;
    height:5px;
    margin: 0 auto;
    position: relative;
    top: -21%;
}
.accredition-link .arrow-btn .img-wrapper img{
    /* width: 100%; */
    object-fit: contain;
}
.mobile-arrow-btn{
    transform: rotate(90deg);
}
.mobile-accredition-link{
    display: flex;
    justify-content: space-between;
}


  .mobile-accordion__header{
    padding: 6px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
    position: relative;
    border-bottom: 1px solid #D5E2EC;
  }

  
  .mobile-accordion__header h2 {
    font-family: 'DIN Pro Cond';
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #112B36!important;
  }

  .accordin-img-wrapper{
    width: 18px;
    height: 18px;
    background-color:  rgba(44, 109, 162, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 19px;
    top: 39%;
    transition: 0.3s all;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  
  .mobile-accordion__header:not(:first-child) {
    margin-top: 4px;
  }
  

  .mobile-accordion__header.is-active h2{
      color: white;
  }
  .mobile-accordion__header.is-active.mobile-accordion__header .accordin-img-wrapper{
        transform: rotate(180deg);
  }
  .mobile-accordion__body {
    display: none;
    /* padding: 18px 0px 27px 0px; */
    border-top: 0;
    /* opacity: 0.8; */
    padding-top: 10px;

    
  }
  .mobile-accordion__body p{
      color: #112b36;
      font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #1D1D1B;
  }
  .mobile-accordion__body.is-active {
    display: block;
  }

  .mobile-accordin-wrapper{
    display: none;
  }



  
.footer {
    padding-top: 54px;
    padding-bottom: 20px;
    background-color: #112B36;
  }
  
  .footer .container {
    display: flex;
    column-gap: 32px;
    margin-bottom: 62px;
    max-width: 1290px;
  }
  
  .footer > .container > div,
  .footer > .container > ul {
    width: 25%;
  }
  
  .footer ul {
    list-style: none;
  }
  
  .footer-logo {
    margin-bottom: 48px;
    margin-top: 6px;
  }
  
  .footer-logo img {
    max-width: 200px;
  }
 
  .footer .logo-box p {
    margin-bottom: 20px;
    max-width: 147px;
    line-height: 24px;
  }
  .footer .logo-box p span, .icon-heading{
    color: white !important;
    text-transform: uppercase;

  }

  .footer-heading{
    color: white!important;
    text-transform: uppercase;
  }

  
  .social-icons {
    display: flex;
    list-style: none;
    column-gap: 10px;
    margin-top: 13px;
  }
  
  .social-icons img {
    transition: 0.3s all;
  }
  .social-icons img:hover {
    filter: brightness(1.4);
  }
  
  .footer .contact-box h5 {
    margin-bottom: 14px;
  }
  
  .footer .contact-box select {
    margin-bottom: 22px;
    width: 100%;
    padding: 11px 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #112B36;
    border-radius: 3px;
    appearance: none;
    background-image: url('../images/footer-select-icon.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 17px;
}
  
  .footer .contact-box p {
    display: flex;
    align-items: flex-start;
    margin-bottom: 23px;
    max-width: 200px;
  }
  
  .footer .contact-box p span {
    margin-top: -4px;
  }
  
  .footer .contact-box p > img {
    margin-right: 12px;
    width: 14px;
  }
  
  .footer ul li a {
    line-height: 24px;
  }
  .footer p {
    color: #96aab8;
  }
  
  .footer a {
    color: #96aab8;
    transition: 0.3s all;
  }
  
  .footer a:hover {
    color: #ffffff;
  }
  
  .footer-nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
  }
  
  .footer-nav p {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
  }
  
  .footer-nav a {
    color: #ffffff;
    font-size: 14px;
  }
 .footer-list li{
    color: #D5E2EC;
 }